.App {
  text-align: center;
}


.Rect-active{
  background-color: #f59c40;
}


.Rect1 {
position: absolute;
width: 257px;
height: 164px;
left: calc(50% - 257px/2 - 805.5px);
top: calc(56% - 164px/2 - 432px);

border: 4px solid #7f7f7f;
box-sizing: border-box;
}
.Rect1:hover, .Rect2:hover, .Rect3:hover, .Rect4:hover, .Rect4:hover, .Rect5:hover, .Rect6:hover, .Rect7:hover, .Rect8:hover, .Rect9:hover, .Rect10:hover, .Rect11:hover, .Rect12:hover, .Rect13:hover{
  background-color: #f59c40;
}


.Rect2 {
  position: absolute;
  width: 1050px;
  height: 164px;
  left: calc(50% - 1050px/2);
  top: calc(56% - 164px/2 - 432px);
  
  border: 4px solid #7f7f7f;
  box-sizing: border-box;
}


.Rect3 {
  position: absolute;
  width: 257px;
  height: 164px;
  left: calc(50% - 257px/2 + 805.5px);
  top: calc(56% - 164px/2 - 432px);
  
  border: 4px solid #7f7f7f;
  box-sizing: border-box;
}


.Rect4 {
  position: absolute;
  width: 257px;
  height: 428px;
  left: calc(50% - 257px/2 - 805.5px);
  top: calc(56% - 428px/2 - 36px);
  
  border: 4px solid #7f7f7f;
  box-sizing: border-box;
}


.Rect5 {
  position: absolute;
  width: 257px;
  height: 164px;
  left: calc(50% - 257px/2 - 396.5px);
  top: calc(56% - 164px/2 - 168px);

  border: 4px solid #7f7f7f;
  box-sizing: border-box;
}


.Rect6 {
  position: absolute;
  width: 257px;
  height: 164px;
  left: calc(50% - 257px/2 + 396.5px);
  top: calc(56% - 164px/2 - 168px);
  
  border: 4px solid #7f7f7f;
  box-sizing: border-box;
}


.Rect7 {
  position: absolute;
  width: 257px;
  height: 164px;
  left: calc(50% - 257px/2 + 805.5px);
  top: calc(56% - 164px/2 - 168px);
  
  border: 4px solid #7f7f7f;
  box-sizing: border-box;
}


.Rect8 {
  position: absolute;
  width: 257px;
  height: 164px;
  left: calc(50% - 257px/2 - 396.5px);
  top: calc(56% - 164px/2 + 96px);
  
  border: 4px solid #7f7f7f;
  box-sizing: border-box;
}



.Rect9 {
  position: absolute;
  width: 257px;
  height: 164px;
  left: calc(50% - 257px/2 - 0.5px);
  top: calc(56% - 164px/2 + 96px);
  
  border: 4px solid #7f7f7f;
  box-sizing: border-box;
}



.Rect10 {
  position: absolute;
  width: 666px;
  height: 164px;
  left: calc(50% - 666px/2 + 601px);
  top: calc(56% - 164px/2 + 96px);
  
  border: 4px solid #7f7f7f;
  box-sizing: border-box;
}


.Rect11 {
  position: absolute;
  width: 257px;
  height: 164px;
  left: calc(50% - 257px/2 - 805.5px);
  top: calc(46% - 164px/2 + 432px);
  
  border: 4px solid #7f7f7f;
  box-sizing: border-box;
}



.Rect12 {
  position: absolute;
  width: 257px;
  height: 164px;
  left: calc(50% - 257px/2 - 396.5px);
  top: calc(46% - 164px/2 + 432px);
  
  border: 4px solid #7f7f7f;
  box-sizing: border-box;
}


.Rect13 {
  position: absolute;
  width: 257px;
  height: 164px;
  left: calc(50% - 257px/2 + 805.5px);
  top: calc(46% - 164px/2 + 432px);
  
  border: 4px solid #7f7f7f;
  box-sizing: border-box;
}
